/* 正文格式设置 */
.md-typeset h1 {
    color: var(--md-default-fg-color);
    font-weight: 800;
    font-size: 2.1rem;
    margin: 0 0 .5em;
}

.md-typeset h2 {
    font-size: 1.5rem;
    font-weight: 700;
    /* border-bottom: 1px solid #bbb; */
}

.md-typeset h3 {
    font-size: 1rem;
    font-weight: 600;
}

.md-typeset h4 {
    font-size: 1rem;
    font-weight: 500;
}

.md-typeset code:not(pre code) {
    font-size: 90%;
}