.md-tooltip2__inner.md-typeset {
    border-radius: .5rem;
    background-color: var(--md-code-bg-color);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.md-tooltip {
    border-radius: 1rem;
    background-color: var(--md-code-bg-color);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.md-tooltip--inline {
    white-space: nowrap;
    /* 防止文字换行，可选 */
}