.md-top{
    background-color: var(--md-primary-fg-color);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    font-size: 0px;
    padding: .5rem;
    box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.075);
    transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 2px solid var(--md-pic-shadow-color);
    height: fit-content;
    bottom: 0;
    right: 0;
}
[dir=ltr] .md-top{
    margin-top: auto;
    margin-bottom: 10%;
}
.md-top:focus, .md-top:hover{
    color: var(--md-default-fg-color);
    background-color: var(--md-primary-fg-color);
    border: 2px solid #9393938f;
}