.md-typeset .admonition,
.md-typeset details {
  background-color: var(--md-addition-bg-color);
  border: 2px solid #448aff;
  border-radius: 1rem;
  font-size: smaller;
}

:root {
  --md-admonition-icon--caution: url(./svg/Alert-Octagon--Streamline-Tabler-Filled.svg);
  --md-admonition-icon--important: url(./svg/sparkle-fill.svg)
}

.md-typeset .admonition.caution,
.md-typeset details.caution {
  border-color: #f59102;
}

.md-typeset .caution>.admonition-title,
.md-typeset .caution>summary {
  background-color: #ff91001a;
}

.md-typeset .caution>.admonition-title::before,
.md-typeset .caution>summary::before {
  background-color: #f59102;
  -webkit-mask-image: var(--md-admonition-icon--caution);
  mask-image: var(--md-admonition-icon--caution);
}

.md-typeset .admonition.warning,
.md-typeset details.warning {
  border-color: #e30f2e;
}

.md-typeset .warning>.admonition-title,
.md-typeset .warning>summary {
  background-color: rgba(227, 15, 46, 0.06);
}

.md-typeset .warning>.admonition-title::before,
.md-typeset .warning>summary::before {
  background-color: #e30f2e;
}

.md-typeset .admonition.important,
.md-typeset details.important {
  border-color: #8250df;
}

.md-typeset .important>.admonition-title,
.md-typeset .important>summary {
  background-color: rgba(130, 80, 223, 0.06);
}

.md-typeset .important>.admonition-title::before,
.md-typeset .important>summary::before {
  background-color: #8250df;
  -webkit-mask-image: var(--md-admonition-icon--important);
  mask-image: var(--md-admonition-icon--important);
}


/* 不可展开或展开后的Admonition上栏 */
[dir=ltr] .md-typeset .admonition-title,
[dir=ltr] .md-typeset summary,
[dir=rtl] .md-typeset .admonition-title,
[dir=rtl] .md-typeset summary {
  border-radius: 1rem 1rem 0 0;
}

/* 折叠后的Admonition上栏  */
.md-typeset details:not([open])>summary {
  border-radius: 1rem;
}

html .md-typeset .admonition-title:last-child,
html .md-typeset summary:last-child {
  border-radius: 1rem;
}