/* 遮罩 */
html body .goverlay {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background: var(--md-primary-fg-color);
}

.glightbox-mobile .goverlay {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background: var(--md-primary-fg-color) !important;
}

/* 图片阴影 */
.glightbox-clean .gslide-media {
    box-shadow: 2px 3px 10px 2px var(--md-pic-shadow-color) !important;
}


/* 按钮 */
button.gclose.gbtn,
button.gnext.gbtn.disabled,
button.gnext.gbtn,
button.gprev.gbtn.disabled,
button.gprev.gbtn {
    border-radius: .5rem;
    -webkit-backdrop-filter: saturate(180%) blur(20px) !important;
    backdrop-filter: saturate(180%) blur(20px) !important;
}