/* 自动模式-白 */
@media (prefers-color-scheme: light) {
    [data-md-color-scheme="auto"] {
        /* primary color */
        --md-primary-fg-color: rgba(250, 250, 252, .8);
        --md-primary-bg-color: #000000c5;
        --md-default-bg-color: #f5f5f7;
        /* 超链接颜色 */
        --md-typeset-a-color: #2e2e2ed6;
        --md-accent-fg-color: #656565;
        /* 页脚颜色 */
        --md-footer-fg-color: #000000;
        --md-footer-bg-color: #efefef;
        --md-footer-bg-color--dark: #efefef;
        --md-footer-fg-color--light: #000000;
        --md-footer-fg-color--lighter: #000000;
        /*代码颜色 */
        --md-code-bg-color: #ffffff;
        --md-code-fg-color: var(--md-typeset-color);
        --md-admonition-bg-color: #ffffff5c;
        --md-button-bg-color: #ffffffab;
        --md-accent-fg-color--transparent: #c1c1c15b;
        --md-pic-shadow-color: rgb(166 166 166 / 12%);
        --md-link-color: #4287ff;
    }
}

/* 自动模式-黑 */
@media (prefers-color-scheme: dark) {
    [data-md-color-scheme="auto"] {
        --md-default-bg-color: #161616;
        --md-default-bg-color--light: #161616;
        --md-default-bg-color--lighter: #161616;
        --md-default-bg-color--lightest: #161616;
        /* 默认foreground color */
        --md-default-fg-color: rgba(255, 255, 255, 0.9);
        --md-default-fg-color--light: rgb(255 255 255 / 56%);
        --md-default-fg-color--lighter: rgba(255, 255, 255, 0.8);
        --md-default-fg-color--lightest: #717171;
        /* primary color */
        --md-primary-fg-color: #1d1d1ee0;
        --md-typeset-a-color: #2e2e2ed6;
        --md-accent-fg-color: #ffffff;
        --md-link-color: #f7cf58;
        /* 页脚颜色表 */
        --md-footer-bg-color: #1c1c1c;
        --md-footer-bg-color--dark: #0d0d0d;
        --md-footer-fg-color: #fff;
        --md-footer-fg-color--light: #fff;
        --md-footer-fg-color--lighter: #fff;
        /* 代码块背景颜色 */
        --md-code-bg-color: #24242487;
        --md-admonition-bg-color: #1a1a1a9e;
        --md-button-bg-color: #24242487;
        /* 深色模式颜色 */
        --md-hue: 232;
        --md-code-fg-color: hsla(var(--md-hue), 18%, 86%, 1);
        --md-code-hl-color: #4287ff26;
        --md-code-hl-number-color: #e6695b;
        --md-code-hl-special-color: #f06090;
        --md-code-hl-function-color: #c973d9;
        --md-code-hl-constant-color: #9383e2;
        --md-code-hl-keyword-color: #6791e0;
        --md-code-hl-string-color: #2fb170;
        --md-code-hl-name-color: var(--md-code-fg-color);
        --md-code-hl-operator-color: var(--md-default-fg-color--light);
        --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
        --md-code-hl-comment-color: var(--md-default-fg-color--light);
        --md-code-hl-generic-color: var(--md-default-fg-color--light);
        --md-code-hl-variable-color: var(--md-default-fg-color--light);
        --md-typeset-color: var(--md-default-fg-color);
        --md-typeset-a-color: var(--md-primary-fg-color);
        --md-typeset-mark-color: #4287ff4d;
        --md-typeset-kbd-color: hsla(var(--md-hue), 15%, 94%, 0.12);
        --md-typeset-kbd-accent-color: hsla(var(--md-hue), 15%, 94%, 0.2);
        --md-typeset-kbd-border-color: hsla(var(--md-hue), 15%, 14%, 1);
        --md-typeset-table-color: hsla(var(--md-hue), 75%, 95%, 0.12);
        --md-typeset-table-color--light: hsla(var(--md-hue), 75%, 95%, 0.035);
        --md-admonition-fg-color: var(--md-default-fg-color);
        --md-admonition-bg-color: var(--md-default-bg-color);
        --md-shadow-z1: 0 0.2rem 0.5rem #0003, 0 0 0.05rem #0000001a;
        --md-shadow-z2: 0 0.2rem 0.5rem #0000004d, 0 0 0.05rem #00000040;
        --md-shadow-z3: 0 0.2rem 0.5rem #0006, 0 0 0.05rem #00000059;
        --md-pic-shadow-color: rgb(0 0 0 / 32%);
        color-scheme: auto;
        --md-accent-fg-color--transparent: #3636365b;
    }

    [data-md-color-scheme=auto][data-md-color-primary=indigo] {
        --md-typeset-a-color: var(--md-accent-fg-color);
    }

    [data-md-color-scheme="auto"] .md-typeset .admonition,
    [data-md-color-scheme="auto"] .md-typeset details {
        background-color: #1a1a1a9e;
    }

}

[data-md-color-scheme="default"] {
    /* primary color */
    --md-primary-fg-color: rgba(250, 250, 252, .8);
    --md-primary-bg-color: #000000c5;
    --md-default-bg-color: #f5f5f7;
    /* 超链接颜色 */
    --md-typeset-a-color: #2e2e2ed6;
    --md-accent-fg-color: #656565;
    /* 页脚颜色 */
    --md-footer-fg-color: #000000;
    --md-footer-bg-color: #efefef;
    --md-footer-bg-color--dark: #efefef;
    --md-footer-fg-color--light: #000000;
    --md-footer-fg-color--lighter: #000000;
    /*代码颜色 */
    --md-code-bg-color: #ffffff;
    --md-code-fg-color: var(--md-typeset-color);
    --md-admonition-bg-color: #ffffff5c;
    --md-button-bg-color: #ffffffab;
    --md-accent-fg-color--transparent: #c1c1c15b;
    --md-pic-shadow-color: rgb(166 166 166 / 12%);
    --md-link-color: #4287ff;
}

[data-md-color-scheme="slate"] {
    --md-default-bg-color: #161616;
    --md-default-bg-color--light: #161616;
    --md-default-bg-color--lighter: #161616;
    --md-default-bg-color--lightest: #161616;
    /* 默认foreground color */
    --md-default-fg-color: rgba(255, 255, 255, 0.9);
    --md-default-fg-color--light: rgb(255 255 255 / 56%);
    --md-default-fg-color--lighter: rgba(255, 255, 255, 0.8);
    --md-default-fg-color--lightest: #717171;
    /* primary color */
    --md-primary-fg-color: #1d1d1ee0;
    --md-typeset-a-color: #2e2e2ed6;
    --md-accent-fg-color: #ffffff;
    --md-link-color: #f7cf58;
    /* 页脚颜色表 */
    --md-footer-bg-color: #1c1c1c;
    --md-footer-bg-color--dark: #0d0d0d;
    --md-footer-fg-color: #fff;
    --md-footer-fg-color--light: #fff;
    --md-footer-fg-color--lighter: #fff;
    /* 代码块背景颜色 */
    --md-code-bg-color: #24242487;
    --md-admonition-bg-color: #1a1a1a9e;
    --md-button-bg-color: #24242487;
    /* 深色模式颜色 */
    --md-hue: 232;
    --md-code-fg-color: hsla(var(--md-hue), 18%, 86%, 1);
    --md-code-hl-color: #4287ff26;
    --md-code-hl-number-color: #e6695b;
    --md-code-hl-special-color: #f06090;
    --md-code-hl-function-color: #c973d9;
    --md-code-hl-constant-color: #9383e2;
    --md-code-hl-keyword-color: #6791e0;
    --md-code-hl-string-color: #2fb170;
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: var(--md-default-fg-color--light);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);
    --md-typeset-color: var(--md-default-fg-color);
    --md-typeset-a-color: var(--md-primary-fg-color);
    --md-typeset-mark-color: #4287ff4d;
    --md-typeset-kbd-color: hsla(var(--md-hue), 15%, 94%, 0.12);
    --md-typeset-kbd-accent-color: hsla(var(--md-hue), 15%, 94%, 0.2);
    --md-typeset-kbd-border-color: hsla(var(--md-hue), 15%, 14%, 1);
    --md-typeset-table-color: hsla(var(--md-hue), 75%, 95%, 0.12);
    --md-typeset-table-color--light: hsla(var(--md-hue), 75%, 95%, 0.035);
    --md-admonition-fg-color: var(--md-default-fg-color);
    --md-admonition-bg-color: var(--md-default-bg-color);
    --md-shadow-z1: 0 0.2rem 0.5rem #0003, 0 0 0.05rem #0000001a;
    --md-shadow-z2: 0 0.2rem 0.5rem #0000004d, 0 0 0.05rem #00000040;
    --md-shadow-z3: 0 0.2rem 0.5rem #0006, 0 0 0.05rem #00000059;
    --md-pic-shadow-color: rgb(0 0 0 / 32%);
    color-scheme: auto;
    --md-accent-fg-color--transparent: #3636365b;
}

[data-md-color-scheme=slate][data-md-color-primary=indigo] {
    --md-typeset-a-color: var(--md-accent-fg-color);
}

[data-md-color-scheme="slate"] .md-typeset .admonition,
[data-md-color-scheme="slate"] .md-typeset details {
    background-color: #1a1a1a9e;
}